.col {
  grid-area: cont
}
.bg {
  width: 100%;
  height: 40vh;
  position: relative;
}
.bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ava{
  flex:0 0 100px;
}
.description {
  flex: 1 1 auto;
}
.ava img {
  display: block;
  max-width: 100%;
}
.input {
  width: 70%;
  height: 100px;
}
.input textarea {
  width: 100%;
  height: 100%;
}